# =========================
# EXISTENTE
# =========================
/config.local
/tmp
/cache

# =========================
# MODELOS
# =========================
models/*.pkl

# =========================
# DATA
# =========================
data/**/*.csv

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc